* {
    box-sizing: border-box;
    margin: 0;
}
#showGame {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}


html, body {
    font-family:monospace;
}

#log {
    height:200px;
    border:1px solid black;
    overflow:auto;
}

#msg {
    width: 330px;
}


#number {
    width: 60px;
    font-size: 115%;
    text-align: center;
    background: lightgreen;
    padding: 5px;
}


#score {
    font-size: 150%;
    text-align: center;
    padding: 5px;
}

.name {
    display: inline-block;
}

.myBack {
    background: lightblue;
}

.green {
    background: green;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.rect {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px 5px 0 0;
}

span {
    display: inline-block;
}
